html,
body 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 1em;
}

*,
*:after,
*::before {
    box-sizing: inherit;
}

.container {
    width: 90%;
    max-width: 1140px;
    margin: 90px auto;
}