html,
body 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 1em;
}

*,
*:after,
html {
    scroll-behavior: smooth;
}

a {
    color: #5945e6;
}

a:hover {
    font-weight: bold;
}